<form [formGroup]="salaryForm" (ngSubmit)="onSubmit()" *transloco="let t">
  <!-- Revenue year -->
  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label>{{ t('revenue_year') }}</mat-label>
    <mat-select formControlName="revenueYear">
      <mat-select-trigger>
        {{ salaryForm.get('revenueYear')?.value.year }}<sup *ngIf="!salaryForm.get('revenueYear')?.value.isFinal">{{ t('preview') }}</sup>
      </mat-select-trigger>
      @for (revenueYear of supportedRevenueYears; track $index) {
        <mat-option [value]="revenueYear">{{ revenueYear.year }}<sup *ngIf="!revenueYear.isFinal">{{ t('preview') }}</sup></mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Status -->
  <mat-card-subtitle>{{ t('status') }}</mat-card-subtitle>
  <mat-radio-group formControlName="status" class="radio-group">
    <mat-radio-button [value]="Status.EMPLOYEE">{{ t('employee') }}</mat-radio-button>
    <mat-radio-button [value]="Status.WORKER">{{ t('worker') }}</mat-radio-button>
  </mat-radio-group>

  <!-- Work Regime -->
  <mat-card-subtitle>{{ t('work_regime') }}</mat-card-subtitle>
  <mat-radio-group formControlName="workRegime" class="radio-group">
    <mat-radio-button [value]="WorkRegime.FULL_TIME">{{ t('full_time') }}</mat-radio-button>
    <mat-radio-button value="part_time">{{ t('part_time') }}</mat-radio-button>
  </mat-radio-group>

  @if (salaryForm.get('workRegime')?.value == 'part_time') {
    <mat-form-field appearance="fill" class="extended-width">
      <mat-label>{{ t('worked_time_per_week') }}</mat-label>
      <input matInput type="number" formControlName="workedTimePerWeek">
    </mat-form-field>
    {{ t('out_of') }}
    <mat-form-field appearance="fill" class="extended-width">
      <mat-label>{{ t('full_time_work_hours') }}</mat-label>
      <input matInput type="number" formControlName="fullTimeHoursPerWeek">
    </mat-form-field>
  }

  <!-- Family Situation -->
  <mat-card-subtitle>{{ t('family_situation.title') }}</mat-card-subtitle>
  <mat-radio-group formControlName="familySituation" class="radio-group">
    <mat-radio-button [value]="FamilySituation.ISOLATED">{{ t('family_situation.isolated') }}</mat-radio-button>
    <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES">
      {{ t('family_situation.married_or_cohabitant_2_incomes') }}
    </mat-radio-button>
    <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES_PARTNER_LOW_PENSION">
      {{ t('family_situation.married_or_cohabitant_2_incomes_partner_low_pension', {amount: lowPensionJanuaryThreshold}) }}
    </mat-radio-button>
    <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES_PARTNER_LOW_OTHER_REVENUE">
      {{ t('family_situation.married_or_cohabitant_2_incomes_partner_low_other_revenue', {amount: lowOtherRevenueJanuaryThreshold}) }}
    </mat-radio-button>
    <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_1_INCOME">
      {{ t('family_situation.married_or_cohabitant_1_income', {amount: noRevenueJanuaryThreshold}) }}
    </mat-radio-button>
    <mat-radio-button [value]="FamilySituation.DIVORCED_OR_SEPARATED">
      {{ t('family_situation.divorced_or_separated') }}
    </mat-radio-button>
    <mat-radio-button [value]="FamilySituation.NON_REMARRIED_WIDOW">
      {{ t('family_situation.non_remarried_widow') }}
    </mat-radio-button>
  </mat-radio-group>

  <!-- Various Options -->
  <mat-card-subtitle>{{ t('other') }}</mat-card-subtitle>

  <div class="checkbox-section">
    <mat-checkbox formControlName="disabled">
      {{ t('i_am_disabled') }}
    </mat-checkbox>

    @if (salaryForm.get('familySituation')?.value?.startsWith('married')) {
      <mat-checkbox formControlName="hasDisabledPartner">
        {{ t('spouse_is_disabled') }}
      </mat-checkbox>
    }

    <mat-checkbox formControlName="dependentPeople">
      {{ t('dependent_people') }}
    </mat-checkbox>

    @if (salaryForm.get('dependentPeople')?.value) {
      <table class="full-width">
        <thead>
          <tr>
            <th class="text-right">{{ t('category') }}</th>
            <th class="text-center">{{ t('valid') }}</th>
            <th class="text-center">{{ t('handicapped') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-right outline-neighbour-padding">{{ t('children') }}</td>
            <td>
              <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
                <mat-label>{{ t('children') }}</mat-label>
                <input matInput type="number" min="0" formControlName="numDependentChildren">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
                <mat-label>{{ t('children' )}}</mat-label>
                <input matInput type="number" min="0" formControlName="numDisabledDependentChildren">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="text-right outline-neighbour-padding">
              {{dependentRetireeAgeThreshold}}+
            </td>
            <td colspan="2">
              <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
                <mat-label>
                  {{dependentRetireeAgeThreshold}}+
                </mat-label>
                <input matInput type="number" formControlName="numDependentRetirees">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="text-right outline-neighbour-padding">{{ t('others') }}</td>
            <td>
              <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
                <mat-label>{{ t('others') }}</mat-label>
                <input matInput type="number" min="0" formControlName="numDependentOthers">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
                <mat-label>{{ t('others' )}}</mat-label>
                <input matInput type="number" min="0" formControlName="numDisabledDependentOthers">
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    }

    <mat-checkbox formControlName="groupInsurance">
      {{ t('group_insurance' )}}
    </mat-checkbox>

    @if (salaryForm.get('groupInsurance')?.value) {
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('personal_contribution') }}</mat-label>
      <input matInput type="number" min="0.01" step="0.01" formControlName="groupInsurancePersonalContribution">

      @if (currentLocale != 'fr-BE') {
        <mat-icon matPrefix>euro</mat-icon>
      } @else {
        <mat-icon matSuffix>euro</mat-icon>
      }
    </mat-form-field>
    }

    <mat-checkbox formControlName="mealVouchers">
      {{ t('meal_vouchers' )}}
    </mat-checkbox>

    @if (salaryForm.get('mealVouchers')?.value) {
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('value') }}</mat-label>
      <input matInput type="number" [min]="salaryForm.get('mealVouchersPersonalContribution')?.value || 1.09" step="0.01" formControlName="mealVouchersValue">

      @if (currentLocale != 'fr-BE') {
        <mat-icon matPrefix>euro</mat-icon>
      } @else {
        <mat-icon matSuffix>euro</mat-icon>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('personal_contribution') }}</mat-label>
      <input matInput type="number" min="1.09" step="0.01" formControlName="mealVouchersPersonalContribution">

      @if (currentLocale != 'fr-BE') {
      <mat-icon matPrefix>euro</mat-icon>
      } @else {
      <mat-icon matSuffix>euro</mat-icon>
      }
    </mat-form-field>
    }

    <mat-checkbox formControlName="companyCar">
      {{ t('company_car' )}}
    </mat-checkbox>

    @if (salaryForm.get('companyCar')?.value) {
    <!-- Catalog value -->
    <!-- https://mobiforms.mobilit.fgov.be/link/myvehiclemyplate -->
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('catalog_value') }}</mat-label>
      <input matInput type="number" min="0.01" step="0.01" formControlName="companyCarCatalogValue">

      @if (currentLocale != 'fr-BE') {
        <mat-icon matPrefix>euro</mat-icon>
      } @else {
        <mat-icon matSuffix>euro</mat-icon>
      }
    </mat-form-field>

    <!-- Fuel type -->
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('fuel_type') }}</mat-label>
      <mat-select formControlName="companyCarFuelType">
        @for (fuelType of fuelTypes; track $index) {
          <mat-option [value]="fuelType">{{ t('fuel_types.' + fuelType) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- g CO2/km -->
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('g_co2_km') }}</mat-label>
      <input matInput type="number" min="0" step="0.01" formControlName="companyCarGramsCo2PerKm">
    </mat-form-field>

    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('first_plate_registration_month') }}</mat-label>
      <input matInput type="text" formControlName="companyCarFirstPlateRegistrationMonth">
    </mat-form-field>

    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>{{ t('monthly_personal_contribution') }}</mat-label>
      <input matInput type="number" min="0" step="0.01" formControlName="companyCarPersonalContribution">

      @if (currentLocale != 'fr-BE') {
        <mat-icon matPrefix>euro</mat-icon>
      } @else {
        <mat-icon matSuffix>euro</mat-icon>
      }
    </mat-form-field>
    }
  </div>

  <mat-card-subtitle>{{ t('income') }}</mat-card-subtitle>

  <mat-tab-group class="m-t" animationDuration="0ms" (selectedTabChange)="onPeriodTabSelected()" [(selectedIndex)]="periodTabIndex" dynamicHeight="true">

    <mat-tab [label]="t('single_month')">
      <!-- Gross Salary -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ t('gross_salary_title') }}</mat-label>
        <input matInput type="number" min="0.01" step="0.01" formControlName="grossSalary">

        @if (currentLocale != 'fr-BE') {
          <mat-icon matPrefix>euro</mat-icon>
        } @else {
          <mat-icon matSuffix>euro</mat-icon>
        }
      </mat-form-field>

      <!-- Other Net Income -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ t('other_net_income') }}</mat-label>
        <input matInput type="number" min="0" step="0.01" formControlName="otherNetIncome">

        @if (currentLocale != 'fr-BE') {
          <mat-icon matPrefix>euro</mat-icon>
        } @else {
          <mat-icon matSuffix>euro</mat-icon>
        }
      </mat-form-field>

      <!-- Holiday Pay -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ t('double_holiday_pay') }}</mat-label>
        <input matInput type="number" min="0" step="0.01" formControlName="holidayPay">

        @if (currentLocale != 'fr-BE') {
          <mat-icon matPrefix>euro</mat-icon>
        } @else {
          <mat-icon matSuffix>euro</mat-icon>
        }
      </mat-form-field>

      <!-- Bonus -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ t('bonus') }}</mat-label>
        <input matInput type="number" min="0" step="0.01" formControlName="bonus">

        @if (currentLocale != 'fr-BE') {
          <mat-icon matPrefix>euro</mat-icon>
        } @else {
          <mat-icon matSuffix>euro</mat-icon>
        }
      </mat-form-field>

      <!-- Meal vouchers -->
      @if (salaryForm.get('mealVouchers')?.value) {
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ t('meal_vouchers') }}</mat-label>
          <input matInput type="number" min="0" step="1" formControlName="numMealVouchers">
        </mat-form-field>
      }
    </mat-tab>
    <mat-tab [label]="t('full_year')">
      <table class="full-width">
        <thead>
          <tr>
            <th class="text-right">{{ t('month') }}</th>
            <th>{{ t('gross_salary_title') }}</th>
            <th>{{ t('double_holiday_pay') }}</th>
            <th>{{ t('bonus') }}</th>
            <th>{{ t('other_net_income') }}</th>

            @if (salaryForm.get('mealVouchers')?.value) {
              <th>{{ t('meal_vouchers') }}</th>
            }

            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="incomeByMonth">
          <tr *ngFor="let monthlySalaryRow of monthlySalaryRows.controls; let i = index" [formGroupName]="i">
            <td class="text-right outline-neighbour-padding">{{ i + 1 }}</td>
            <td>
              <mat-form-field appearance="fill" class="variable-size" subscriptSizing="dynamic">
                <mat-label>{{ t('gross_salary_title') }}</mat-label>
                <input matInput type="number" min="0.01" step="0.01" formControlName="grossSalary">

                @if (currentLocale != 'fr-BE') {
                  <mat-icon matPrefix>euro</mat-icon>
                } @else {
                  <mat-icon matSuffix>euro</mat-icon>
                }
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="variable-size" subscriptSizing="dynamic">
                <mat-label>{{ t('double_holiday_pay_short') }}</mat-label>
                <input matInput type="number" min="0" step="0.01" formControlName="holidayPay">

                @if (currentLocale != 'fr-BE') {
                  <mat-icon matPrefix>euro</mat-icon>
                } @else {
                  <mat-icon matSuffix>euro</mat-icon>
                }
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="variable-size" subscriptSizing="dynamic">
                <mat-label>{{ t('bonus') }}</mat-label>
                <input matInput type="number" min="0" step="0.01" formControlName="bonus">

                @if (currentLocale != 'fr-BE') {
                  <mat-icon matPrefix>euro</mat-icon>
                } @else {
                  <mat-icon matSuffix>euro</mat-icon>
                }
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="variable-size" subscriptSizing="dynamic">
                <mat-label>{{ t('other_net_income') }}</mat-label>
                <input matInput type="number" min="0" step="0.01" formControlName="otherNetIncome">

                @if (currentLocale != 'fr-BE') {
                  <mat-icon matPrefix>euro</mat-icon>
                } @else {
                  <mat-icon matSuffix>euro</mat-icon>
                }
              </mat-form-field>
            </td>

            @if (salaryForm.get('mealVouchers')?.value) {
            <td>
              <mat-form-field appearance="fill" class="variable-size" subscriptSizing="dynamic">
                <mat-label>{{ t('meal_vouchers') }}</mat-label>
                <input matInput type="number" min="0" step="1" formControlName="numMealVouchers">
              </mat-form-field>
            </td>
            }

            <td class="outline-neighbour-padding">
              @if (i < monthlySalaryRows.controls.length - 1) {
                <a (click)="copyMonthlySalaryRowToRest(i)">{{ t('copy_to_rest') }}</a>
              }
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>

  <div>
    @if (hasSavedData) {
      <button mat-stroked-button type="button" (click)="clearFormFromLocalStorage()" class="float-right">
        <mat-icon>delete</mat-icon> {{ t('clear_saved_data') }}
      </button>
    }

    <button mat-raised-button color="primary" type="submit" [disabled]="!salaryForm.valid || salaryForm.pristine">
      <mat-icon>calculate</mat-icon> {{ t('calculate') }}
    </button>

    <mat-checkbox formControlName="keepData" [disabled]="!salaryForm.valid || salaryForm.pristine">
      {{ t('keep_data') }}
    </mat-checkbox>
  </div>
</form>
