@if (!loading) {
<div class="container mat-elevation-z4" *transloco="let t">
  <mat-chip-listbox class="language-picker">
    @for (availableLang of availableLangs; track $index) {
      <mat-chip-option
        (click)="setLocale(availableLang)"
        [selected]="currentLocale.startsWith(availableLang)"
        [selectable]="!currentLocale.startsWith(availableLang)">
          {{ availableLang | uppercase }}
        </mat-chip-option>
    }
  </mat-chip-listbox>

  <h1>{{ t('title') }}</h1>

  <p>{{ t('description_1') }}</p>
  <p>{{ t('description_2') }}</p>
  <p>{{ t('description_3') }}</p>
  <p [innerHTML]="t('everything_local_open_source')"></p>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
        <!-- Revenue year -->
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ t('revenue_year') }}</mat-label>
          <mat-select formControlName="revenueYear">
            <mat-select-trigger>
              {{ salaryForm.get('revenueYear')?.value.year }}<sup *ngIf="!salaryForm.get('revenueYear')?.value.isFinal">{{ t('preview') }}</sup>
            </mat-select-trigger>
            @for (revenueYear of supportedRevenueYears; track $index) {
              <mat-option [value]="revenueYear">{{ revenueYear.year }}<sup *ngIf="!revenueYear.isFinal">{{ t('preview') }}</sup></mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Status -->
        <mat-card-subtitle>{{ t('status') }}</mat-card-subtitle>
        <mat-radio-group formControlName="status" class="radio-group">
          <mat-radio-button [value]="Status.EMPLOYEE">{{ t('employee') }}</mat-radio-button>
          <mat-radio-button [value]="Status.WORKER">{{ t('worker') }}</mat-radio-button>
        </mat-radio-group>

        <!-- Work Regime -->
        <mat-card-subtitle>{{ t('work_regime') }}</mat-card-subtitle>
        <mat-radio-group formControlName="workRegime" class="radio-group">
          <mat-radio-button [value]="WorkRegime.FULL_TIME">{{ t('full_time') }}</mat-radio-button>
          <mat-radio-button value="part_time">{{ t('part_time') }}</mat-radio-button>
        </mat-radio-group>

        @if (salaryForm.get('workRegime')?.value == 'part_time') {
          <mat-form-field appearance="outline" class="extended-width">
            <mat-label>{{ t('worked_time_per_week') }}</mat-label>
            <input matInput type="number" formControlName="workedTimePerWeek">
          </mat-form-field>
          {{ t('out_of') }}
          <mat-form-field appearance="outline" class="extended-width">
            <mat-label>{{ t('full_time_work_hours') }}</mat-label>
            <input matInput type="number" formControlName="fullTimeHoursPerWeek">
          </mat-form-field>
        }

        <!-- Family Situation -->
        <mat-card-subtitle>{{ t('family_situation.title') }}</mat-card-subtitle>
        <mat-radio-group formControlName="familySituation" class="radio-group">
          <mat-radio-button [value]="FamilySituation.ISOLATED">{{ t('family_situation.isolated') }}</mat-radio-button>
          <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES">
            {{ t('family_situation.married_or_cohabitant_2_incomes') }}
          </mat-radio-button>
          <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES_PARTNER_LOW_PENSION">
            {{ t('family_situation.married_or_cohabitant_2_incomes_partner_low_pension', {amount: lowPensionJanuaryThreshold}) }}
          </mat-radio-button>
          <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_2_INCOMES_PARTNER_LOW_OTHER_REVENUE">
            {{ t('family_situation.married_or_cohabitant_2_incomes_partner_low_other_revenue', {amount: lowOtherRevenueJanuaryThreshold}) }}
          </mat-radio-button>
          <mat-radio-button [value]="FamilySituation.MARRIED_OR_COHABITANT_1_INCOME">
            {{ t('family_situation.married_or_cohabitant_1_income', {amount: noRevenueJanuaryThreshold}) }}
          </mat-radio-button>
          <mat-radio-button [value]="FamilySituation.DIVORCED_OR_SEPARATED">
            {{ t('family_situation.divorced_or_separated') }}
          </mat-radio-button>
          <mat-radio-button [value]="FamilySituation.NON_REMARRIED_WIDOW">
            {{ t('family_situation.non_remarried_widow') }}
          </mat-radio-button>
        </mat-radio-group>

        <!-- Various Options -->
        <mat-card-subtitle>{{ t('other') }}</mat-card-subtitle>
        <div class="checkbox-section">
          <mat-checkbox formControlName="disabled">
            {{ t('i_am_disabled') }}
          </mat-checkbox>

          @if (salaryForm.get('familySituation')?.value?.startsWith('married')) {
            <mat-checkbox formControlName="hasDisabledPartner">
              {{ t('spouse_is_disabled') }}
            </mat-checkbox>
          }

          <mat-checkbox formControlName="dependentPeople">
            {{ t('dependent_people') }}
          </mat-checkbox>

          @if (salaryForm.get('dependentPeople')?.value) {
            <table class="dependents-table">
              <thead>
                <tr>
                  <th class="text-right">{{ t('category') }}</th>
                  <th class="text-center">{{ t('valid') }}</th>
                  <th class="text-center">{{ t('handicapped') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-right">{{ t('children') }}</td>
                  <td>
                    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                      <mat-label>{{ t('children') }}</mat-label>
                      <input matInput type="number" min="0" formControlName="numDependentChildren">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                      <mat-label>{{ t('children' )}}</mat-label>
                      <input matInput type="number" min="0" formControlName="numDisabledDependentChildren">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">
                    {{dependentRetireeAgeThreshold}}+
                  </td>
                  <td colspan="2">
                    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                      <mat-label>
                        {{dependentRetireeAgeThreshold}}+
                      </mat-label>
                      <input matInput type="number" formControlName="numDependentRetirees">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">{{ t('others') }}</td>
                  <td>
                    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                      <mat-label>{{ t('others') }}</mat-label>
                      <input matInput type="number" min="0" formControlName="numDependentOthers">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
                      <mat-label>{{ t('others' )}}</mat-label>
                      <input matInput type="number" min="0" formControlName="numDisabledDependentOthers">
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          }

          <mat-checkbox formControlName="groupInsurance">
            {{ t('group_insurance_personal_contribution' )}}
          </mat-checkbox>

          <div *ngIf="salaryForm.get('groupInsurance')?.value">
            <mat-form-field appearance="outline">
              <mat-label>{{ t('personal_contribution') }}</mat-label>
              <input matInput type="number" min="0.01" step="0.01" formControlName="groupInsurancePersonalCotisation">

              @if (currentLocale != 'fr-BE') {
                <mat-icon matPrefix>euro</mat-icon>
              } @else {
                <mat-icon matSuffix>euro</mat-icon>
              }
            </mat-form-field>
          </div>
        </div>

        <!-- Monthly Gross Income -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('monthly_gross_income') }}</mat-label>
          <input matInput type="number" min="0.01" step="0.01" formControlName="grossSalary">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('other_net_income') }}</mat-label>
          <input matInput type="number" min="0.01" step="0.01" formControlName="otherNetIncome">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit" [disabled]="!salaryForm.valid || (result && salaryForm.pristine)">
          <mat-icon>calculate</mat-icon> {{ t('calculate') }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  @if (result && !salaryForm.pristine) {
    <mat-card appearance="outlined" class="warning">
      <mat-card-content>
        {{ t('out_of_date_warning') }}
      </mat-card-content>
    </mat-card>
  }

  <!-- Results Section -->
  <mat-card *ngIf="result" class="results-card">
    <mat-card-header>
      <mat-card-title>{{ t('net_salary') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ t('gross_salary_title') }}</span>
          <span matListItemLine>{{ formatAmount(result.grossSalary) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>remove</mat-icon>
          <span matListItemTitle>{{ t('personal_social_contributions') }}</span>
          <span matListItemLine>{{ formatAmount(result.socialCotisations) }}</span>
        </mat-list-item>

        @if (result.employmentBonus > 0) {
          <mat-list-item>
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('employment_bonus') }}</span>
            <span matListItemLine>{{ formatAmount(result.employmentBonus) }}
              @if(result.employmentBonusWasCapped) {
                ({{ t('capped') }}
                <mat-icon
                  [matTooltip]="t('capped_tooltip', {amount: formatAmount(maxYearlyEmploymentBonus)})"
                  matTooltipPosition="above"
                  class="inline">
                  help
                </mat-icon>)
              }
              </span>
          </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
          <span matListItemTitle>{{ t('taxable_gross_income') }}</span>
          <span matListItemLine>{{ formatAmount(result.taxableIncome) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>remove</mat-icon>
          <span matListItemTitle>{{ t('professional_withholding_tax') }}
            <a (click)="showWithHoldingTaxBreakdown =! showWithHoldingTaxBreakdown">
              @if (showWithHoldingTaxBreakdown) {
                {{ t('hide_breakdown') }}
              } @else {
                {{ t('show_breakdown') }}
              }
            </a>
          </span>
          <span matListItemLine>{{ formatAmount(result.monthlyTaxes) }}</span>
        </mat-list-item>

        @if (showWithHoldingTaxBreakdown) {
          <mat-list-item>
            <mat-icon matListItemIcon class="material-symbols-outlined" style="align-self: baseline">
              subdirectory_arrow_right
            </mat-icon>
            <table matListItemTitle mat-table [dataSource]="result.monthlyTaxesByTier">
              <ng-container matColumnDef="taxBracket">
                <th mat-header-cell *matHeaderCellDef>{{ t('percentage') }}</th>
                <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatPct(monthlyTaxesForTier.percentage) }}</td>
              </ng-container>

              <ng-container matColumnDef="toTax">
                <th mat-header-cell *matHeaderCellDef>{{ t('to_tax') }}</th>
                <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatAmount(monthlyTaxesForTier.toTax) }}</td>
              </ng-container>

              <ng-container matColumnDef="taxes">
                <th mat-header-cell *matHeaderCellDef>{{ t('taxes') }}</th>
                <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatAmount(monthlyTaxesForTier.taxes) }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['taxBracket', 'toTax', 'taxes']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['taxBracket', 'toTax', 'taxes'];"></tr>
            </table>
          </mat-list-item>
        }

        <mat-list-item *ngIf="result.monthlyTaxReductionsForGroupInsurance > 0">
          <mat-icon matListItemIcon>add</mat-icon>
          <span matListItemTitle>{{ t('monthly_tax_reductions_for_group_insurance') }}</span>
          <span matListItemLine>{{ formatAmount(result.monthlyTaxReductionsForGroupInsurance) }}</span>
        </mat-list-item>

        <mat-list-item *ngIf="result.monthlyTaxReductionsForLowSalaries > 0">
          <mat-icon matListItemIcon>add</mat-icon>
          <span matListItemTitle>{{ t('monthly_tax_reductions_for_low_salaries') }}</span>
          <span matListItemLine>{{ formatAmount(result.monthlyTaxReductionsForLowSalaries) }}</span>
        </mat-list-item>

        <mat-list-item *ngIf="result.otherMonthlyTaxReductions > 0">
          <mat-icon matListItemIcon>add</mat-icon>
          <span matListItemTitle>{{ t('other_monthly_tax_reductions') }}</span>
          <span matListItemLine>{{ formatAmount(result.otherMonthlyTaxReductions) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>remove</mat-icon>
          <span matListItemTitle>{{ t('special_social_cotisations') }}</span>
          <span matListItemLine>{{ formatAmount(result.specialSocialCotisations) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
          <span matListItemTitle>{{ t('net_salary') }}</span>
          <span matListItemLine>{{ formatAmount(result.netSalary) }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- Charts Section -->
  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('charts_configuration') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="8px grid">
        <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('start') }}</mat-label>
          <input matInput type="number" [step]="graphsStep" min="0" [(ngModel)]="graphsStartingSalary" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('end') }}</mat-label>
          <input matInput type="number" [step]="graphsStep" [min]="graphsStartingSalary" [(ngModel)]="graphsEndingSalary" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('step') }}</mat-label>
          <input matInput type="number" step="10" min="10" [(ngModel)]="graphsStep" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('gross_to_net_evolution') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('amount')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatAmountTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatAmount(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
          @for (singleSeries of series; track $index) {
          <div class="tooltip-item">
            <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
            <span>{{singleSeries.series}}: {{formatAmount(singleSeries.value)}}</span>
          </div>
          }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('average_tax_rate_evolution') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        *ngIf="averageTaxRateChartData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="averageTaxRateChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('average_tax_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPctTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatPct(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
          <div class="tooltip-label">
            <div>{{formatAmount(series[0].name)}}</div>
          </div>

          @for (singleSeries of series; track $index) {
          <div class="tooltip-item">
            <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
            <span>{{singleSeries.series}}: {{formatPct(singleSeries.value)}}</span>
          </div>
          }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('relative_net_increase_title', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
      <mat-card-subtitle>
        <p>{{ t('relative_net_increase_explanation_1', {amount: formatAmount(graphsStep) }) }}</p>
        <p>{{ t('relative_net_increase_explanation_2', {amount1: formatAmount(2500), amount2: formatAmount(2500 + graphsStep) }) }}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        *ngIf="relativeChartData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="relativeChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPctRelativeTickFormattingFn"
        [yScaleMin]="0"
        [yScaleMax]="100"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatPctRelative(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatPctRelative(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="taxData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('taxation_evolution', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-area-chart-stacked
        *ngIf="taxData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="taxData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatAmountTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{ model.series }}: {{formatAmount(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatAmount(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-area-chart-stacked>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="taxDataProportional" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('taxation_evolution_proportional', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-area-chart-stacked
        *ngIf="taxDataProportional"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="taxDataProportional"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="false"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPct"
        [yScaleMin]="0"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{ model.series }}: {{formatPct(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatPct(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-area-chart-stacked>
    </mat-card-content>
  </mat-card>
</div>
}
