@if (!loading) {
<div class="container mat-elevation-z4" *transloco="let t">
  <mat-chip-listbox class="language-picker">
    @for (availableLang of availableLangs; track $index) {
      <mat-chip-option
        (click)="setLocale(availableLang)"
        [selected]="currentLocale.startsWith(availableLang)"
        [selectable]="!currentLocale.startsWith(availableLang)">
          {{ availableLang | uppercase }}
        </mat-chip-option>
    }
  </mat-chip-listbox>

  <h1>{{ t('title') }}</h1>

  <p>{{ t('description_1') }}</p>
  <p>{{ t('description_2') }}</p>
  <p>{{ t('description_3') }}</p>
  <p [innerHTML]="t('everything_local_open_source')"></p>

  <mat-card>
    <mat-card-content>
      <app-form
        (onPristineChange)="onFormPristineChanged($event)"
        (onFormValueUpdate)="onFormValueUpdate($event)"
        (onNewInput)="onNewInput($event)" />
    </mat-card-content>
  </mat-card>

  @if (result && !isFormPristine) {
    <mat-card appearance="outlined" class="warning message">
      <mat-card-content>
        <mat-icon>warning</mat-icon>
        <span>{{ t('out_of_date_warning') }}</span>
      </mat-card-content>
    </mat-card>
  }

  <!-- Results Section -->
  <mat-card *ngIf="result" class="results-card">
    <mat-card-header>
      <mat-card-title>{{ t('net_salary') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ t('gross_salary_title') }}</span>
          <span matListItemLine>{{ formatAmount(result.grossSalary) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>remove</mat-icon>
          <span matListItemTitle>{{ t('personal_social_contributions') }}</span>
          <span matListItemLine>{{ formatAmount(result.socialCotisations) }}</span>
        </mat-list-item>

        @if (result.employmentBonus > 0) {
          <mat-list-item>
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('employment_bonus') }}</span>
            <span matListItemLine>{{ formatAmount(result.employmentBonus) }}
              @if(result.employmentBonusWasCapped) {
                ({{ t('capped') }}
                <mat-icon
                  [matTooltip]="t('capped_tooltip', {amount: formatAmount(maxYearlyEmploymentBonus)})"
                  matTooltipPosition="above"
                  class="inline">
                  help
                </mat-icon>)
              }
              </span>
          </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
          <span matListItemTitle>{{ t('taxable_gross_income') }}</span>
          <span matListItemLine>{{ formatAmount(result.taxableIncome) }}</span>
        </mat-list-item>

        @if (!result.companyCarBenefitInKindValue  && !result.monthlyProfessionalWithholdingTaxReductionsForGroupInsurance && !result.monthlyProfessionalWithholdingTaxReductionsForLowSalaries && !result.otherProfessionalWithholdingTaxReductions) {
          <mat-list-item>
            <mat-icon matListItemIcon>remove</mat-icon>
            <span matListItemTitle>{{ t('professional_withholding_tax') }}
              <a (click)="showWithHoldingTaxBreakdown = !showWithHoldingTaxBreakdown">
                @if (showWithHoldingTaxBreakdown) {
                  {{ t('hide_breakdown') }}
                } @else {
                  {{ t('show_breakdown') }}
                }
              </a>
            </span>
            <span matListItemLine>{{ formatAmount(result.professionalWithholdingTaxes) }}</span>
          </mat-list-item>

          @if (showWithHoldingTaxBreakdown) {
            <app-withholding-tax-breakdown [result]="result"></app-withholding-tax-breakdown>
          }
        } @else {
          <mat-list-item class="p-t">
            <mat-icon matListItemIcon>remove</mat-icon>
            <span matListItemTitle>{{ t('professional_withholding_tax') }}</span>
            <mat-list matListItemLine>
              <mat-list-item>
                <span matListItemTitle>{{ t('taxable_gross_income') }}</span>
                <span matListItemLine>{{ formatAmount(result.taxableIncome) }}</span>
              </mat-list-item>

              @if (result.companyCarBenefitInKindValue) {
                <mat-list-item>
                  <mat-icon matListItemIcon>add</mat-icon>
                  <span matListItemTitle>{{ t('company_car_benefit_in_kind_value') }}</span>
                  <span matListItemLine>{{ formatAmount(result.companyCarBenefitInKindValue) }}</span>
                  @if (lastInput?.period === TaxationPeriod.Monthly) {
                    <span matListItemLine><em>{{ t('company_car_benefit_in_kind_monthly_warning') }}</em></span>
                  }
                </mat-list-item>

                <mat-list-item>
                  <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
                  <span matListItemTitle>{{ t('taxable_gross_income_including_benefits_in_kind') }}</span>
                  <span matListItemLine>{{ formatAmount(result.taxableIncomeIncludingBenefitsInKind) }}</span>
                </mat-list-item>
              }

              <mat-list-item>
                <mat-icon matListItemIcon>double_arrow</mat-icon>
                <span matListItemTitle>{{ t(result.professionalWithholdingTaxesAfterReductions != result.professionalWithholdingTaxes ? 'professional_withholding_tax_before_reductions' : 'professional_withholding_tax') }}
                  <a (click)="showWithHoldingTaxBreakdown = !showWithHoldingTaxBreakdown">
                    @if (showWithHoldingTaxBreakdown) {
                      {{ t('hide_breakdown') }}
                    } @else {
                      {{ t('show_breakdown') }}
                    }
                  </a>
                </span>
                <span matListItemLine>{{ formatAmount(result.professionalWithholdingTaxes) }}</span>
              </mat-list-item>

              @if (showWithHoldingTaxBreakdown) {
                <app-withholding-tax-breakdown [result]="result"></app-withholding-tax-breakdown>
              }

              @if (result.monthlyProfessionalWithholdingTaxReductionsForGroupInsurance > 0) {
                <mat-list-item>
                  <mat-icon matListItemIcon>remove</mat-icon>
                  <span matListItemTitle>{{ t('monthly_tax_reductions_for_group_insurance') }}</span>
                  <span matListItemLine>{{ formatAmount(result.monthlyProfessionalWithholdingTaxReductionsForGroupInsurance) }}</span>
                </mat-list-item>
              }

              @if (result.monthlyProfessionalWithholdingTaxReductionsForLowSalaries > 0) {
                <mat-list-item>
                  <mat-icon matListItemIcon>remove</mat-icon>
                  <span matListItemTitle>{{ t('monthly_tax_reductions_for_low_salaries') }}</span>
                  <span matListItemLine>{{ formatAmount(result.monthlyProfessionalWithholdingTaxReductionsForLowSalaries) }}</span>
                </mat-list-item>
              }

              @if (result.otherProfessionalWithholdingTaxReductions > 0) {
                <mat-list-item>
                  <mat-icon matListItemIcon>remove</mat-icon>
                  <span matListItemTitle>{{ t('other_monthly_tax_reductions') }}</span>
                  <span matListItemLine>{{ formatAmount(result.otherProfessionalWithholdingTaxReductions) }}</span>
                </mat-list-item>
              }

              @if (result.professionalWithholdingTaxesAfterReductions != result.professionalWithholdingTaxes) {
                <mat-list-item>
                  <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
                  <span matListItemTitle>{{ t('professional_withholding_tax') }}
                    <a (click)="showWithHoldingTaxBreakdown = !showWithHoldingTaxBreakdown">
                    </a>
                  </span>
                  <span matListItemLine>{{ formatAmount(result.professionalWithholdingTaxesAfterReductions) }}</span>
                </mat-list-item>
              }
            </mat-list>
          </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon>remove</mat-icon>
          <span matListItemTitle>{{ t('special_social_cotisations') }}</span>
          <span matListItemLine>{{ formatAmount(result.specialSocialCotisations) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
          <span matListItemTitle>{{ t('net_salary') }}</span>
          <span matListItemLine>{{ formatAmount(result.netSalary) }}</span>
        </mat-list-item>

        @if (result.groupInsurancePersonalContribution) {
          <mat-list-item>
            <mat-icon matListItemIcon>remove</mat-icon>
            <span matListItemTitle>{{ t('group_insurance_personal_contribution') }}</span>
            <span matListItemLine>{{ formatAmount(result.groupInsurancePersonalContribution) }}</span>
          </mat-list-item>
        }

        @if (result.mealVouchersCost) {
          <mat-list-item>
            <mat-icon matListItemIcon>remove</mat-icon>
            <span matListItemTitle>{{ t('meal_vouchers_contribution') }}</span>
            <span matListItemLine>{{ formatAmount(result.mealVouchersCost) }}</span>
          </mat-list-item>
        }

        @if (result.companyCarPersonalContribution) {
          <mat-list-item>
            <mat-icon matListItemIcon>remove</mat-icon>
            <span matListItemTitle>{{ t('company_car_contribution') }}</span>
            <span matListItemLine>{{ formatAmount(result.companyCarPersonalContribution) }}</span>
          </mat-list-item>
        }

        @if (result.otherNetIncome) {
          <mat-list-item>
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('other_net_income') }}</span>
            <span matListItemLine>{{ formatAmount(result.otherNetIncome) }}</span>
          </mat-list-item>
        }

        @if (result.mealVouchersValue) {
          <mat-list-item>
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('meal_vouchers') }}</span>
            <span matListItemLine>{{ formatAmount(result.mealVouchersValue) }}</span>
          </mat-list-item>
        }

        @if (result.holidayPayTaxation.grossAllocation > 0) {
          <mat-list-item class="p-t">
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('double_holiday_pay') }}</span>
            <mat-list matListItemLine>
              <mat-list-item>
                <span matListItemTitle>{{ t('gross_double_holiday_pay') }}</span>
                <span matListItemLine>{{ formatAmount(result.holidayPayTaxation.grossAllocation) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>remove</mat-icon>
                <span matListItemTitle>{{ t('personal_social_contributions') }}</span>
                <span matListItemLine>{{ formatAmount(result.holidayPayTaxation.socialCotisations) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>remove</mat-icon>
                <span matListItemTitle>{{ t('professional_withholding_tax') }}</span>
                <span matListItemLine>{{ formatAmount(result.holidayPayTaxation.professionalWithholdingTax) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
                <span matListItemTitle>{{ t('net_double_holiday_pay') }}</span>
                <span matListItemLine>{{ formatAmount(result.holidayPayTaxation.netExceptionalAllocation) }}</span>
              </mat-list-item>
            </mat-list>
          </mat-list-item>
        }

        @if (result.bonusTaxation.grossAllocation > 0) {
          <mat-list-item class="p-t">
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>{{ t('bonus') }}</span>
            <mat-list matListItemLine>
              <mat-list-item>
                <span matListItemTitle>{{ t('gross_bonus') }}</span>
                <span matListItemLine>{{ formatAmount(result.bonusTaxation.grossAllocation) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>remove</mat-icon>
                <span matListItemTitle>{{ t('personal_social_contributions') }}</span>
                <span matListItemLine>{{ formatAmount(result.bonusTaxation.socialCotisations) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>remove</mat-icon>
                <span matListItemTitle>{{ t('professional_withholding_tax') }}</span>
                <span matListItemLine>{{ formatAmount(result.bonusTaxation.professionalWithholdingTax) }}</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
                <span matListItemTitle>{{ t('net_bonus') }}</span>
                <span matListItemLine>{{ formatAmount(result.bonusTaxation.netExceptionalAllocation) }}</span>
              </mat-list-item>
            </mat-list>
          </mat-list-item>
        }

        @if (result.netIncome != result.netSalary) {
          <mat-list-item>
            <mat-icon matListItemIcon class="material-symbols-outlined">equal</mat-icon>
            <span matListItemTitle>{{ t('net_income') }}</span>
            <span matListItemLine>{{ formatAmount(result.netIncome) }}</span>
          </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">percent</mat-icon>
          <span matListItemTitle>{{ t('average_tax_rate') }}</span>
          <span matListItemLine>{{ formatPct(result.averageTaxRate) }}</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-outlined">percent</mat-icon>
          <span matListItemTitle>{{ t('net_to_gross_ratio') }}</span>
          <span matListItemLine>{{ formatPct(result.netToGrossRatio) }}</span>
        </mat-list-item>
      </mat-list>

      <ngx-charts-sankey
        *ngIf="sankeyData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(800, window.innerHeight - 16), 600)]"
        [scheme]="'vivid'"
        [results]="sankeyData"
        [animations]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">
            @if (model.name) {
              {{ model.name }}
            } @else {
              {{ model.source }} &rarr; {{ model.target }}
            }
          </div>
          <div class="tooltip-val">{{formatAmount(model.value)}}</div>
        </ng-template>
      </ngx-charts-sankey>
    </mat-card-content>
  </mat-card>

  @if (showChartsWarning) {
    <mat-card appearance="outlined" class="info message">
      <mat-card-content>
        <mat-icon>info</mat-icon>
        <span>{{ t('charts_only_base_data_info') }}</span>
      </mat-card-content>
    </mat-card>
  }

  <!-- Charts Section -->
  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('charts_configuration') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="8px grid">
        <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('start') }}</mat-label>
          <input matInput type="number" [step]="graphsStep" min="0" [(ngModel)]="graphsStartingSalary" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('end') }}</mat-label>
          <input matInput type="number" [step]="graphsStep" [min]="graphsStartingSalary" [(ngModel)]="graphsEndingSalary" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" subscriptSizing="dynamic">
          <mat-label>{{ t('step') }}</mat-label>
          <input matInput type="number" step="10" min="10" [(ngModel)]="graphsStep" (ngModelChange)="updateChartData()" [ngModelOptions]="{standalone: true}">

          @if (currentLocale != 'fr-BE') {
            <mat-icon matPrefix>euro</mat-icon>
          } @else {
            <mat-icon matSuffix>euro</mat-icon>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('gross_to_net_evolution') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('amount')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatAmountTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatAmount(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
          @for (singleSeries of series; track $index) {
          <div class="tooltip-item">
            <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
            <span>{{singleSeries.series}}: {{formatAmount(singleSeries.value)}}</span>
          </div>
          }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('average_tax_rate_evolution') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        *ngIf="averageTaxRateChartData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="averageTaxRateChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('average_tax_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPctTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatPct(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
          <div class="tooltip-label">
            <div>{{formatAmount(series[0].name)}}</div>
          </div>

          @for (singleSeries of series; track $index) {
          <div class="tooltip-item">
            <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
            <span>{{singleSeries.series}}: {{formatPct(singleSeries.value)}}</span>
          </div>
          }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="chartData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('relative_net_increase_title', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
      <mat-card-subtitle>
        <p>{{ t('relative_net_increase_explanation_1', {amount: formatAmount(graphsStep) }) }}</p>
        <p>{{ t('relative_net_increase_explanation_2', {amount1: formatAmount(2500), amount2: formatAmount(2500 + graphsStep) }) }}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-line-chart
        *ngIf="relativeChartData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="relativeChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPctRelativeTickFormattingFn"
        [yScaleMin]="0"
        [yScaleMax]="100"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{formatPctRelative(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatPctRelative(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="taxData" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('taxation_evolution', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-area-chart-stacked
        *ngIf="taxData"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="taxData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatAmountTickFormattingFn"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{ model.series }}: {{formatAmount(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatAmount(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-area-chart-stacked>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="taxDataProportional" class="charts-card">
    <mat-card-header>
      <mat-card-title>{{ t('taxation_evolution_proportional', {amount: formatAmount(graphsStep) }) }}</mat-card-title>
    </mat-card-header>

    <mat-card-content #ContainerRef>
      <ngx-charts-area-chart-stacked
        *ngIf="taxDataProportional"
        [view]="[ContainerRef.offsetWidth - 32, max(min(400, window.innerHeight - 16), 300)]"
        [scheme]="'vivid'"
        [results]="taxDataProportional"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [xAxisLabel]="t('gross_salary')"
        [yAxisLabel]="t('net_increase_pct')"
        [animations]="true"
        [showGridLines]="true"
        [roundDomains]="false"
        [xAxisTickFormatting]="formatAmountTickFormattingFn"
        [yAxisTickFormatting]="formatPct"
        [yScaleMin]="0"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        [ngClass]="{'legend-below': legendPosition === LegendPosition.Below}"
        [rotateXAxisTicks]="true"
        [timeline]="true"
        [tooltipDisabled]="false">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-label">{{formatAmount(model.name)}}</div>
          <div class="tooltip-val">{{ model.series }}: {{formatPct(model.value)}}</div>
        </ng-template>

        <ng-template #seriesTooltipTemplate let-series="model">
            <div class="tooltip-label">
              <div>{{formatAmount(series[0].name)}}</div>
            </div>

            @for (singleSeries of series; track $index) {
              <div class="tooltip-item">
                <div class="tooltip-item-color" [style]="{'background-color': singleSeries.color}"></div>
                <span>{{singleSeries.series}}: {{formatPct(singleSeries.value)}}</span>
              </div>
            }
        </ng-template>
      </ngx-charts-area-chart-stacked>
    </mat-card-content>
  </mat-card>
</div>
}
