<mat-list-item *transloco="let t">
  <span matListItemIcon></span>
  <mat-list matListItemTitle>
    <mat-list-item>
      <mat-icon matListItemIcon class="material-symbols-outlined" style="align-self: baseline">
        subdirectory_arrow_right
      </mat-icon>
      <span matListItemTitle>{{ t('flat_rate_professional_expenses') }}</span>
      <span matListItemLine>{{ formatAmount(result.flatRateProfessionalExpenses) }}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListItemIcon></mat-icon>
      <table mat-table [dataSource]="result.professionalWithholdingTaxesByTier">
        <ng-container matColumnDef="taxBracket">
          <th mat-header-cell *matHeaderCellDef>{{ t('percentage') }}</th>
          <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatPct(monthlyTaxesForTier.percentage) }}</td>
        </ng-container>

        <ng-container matColumnDef="toTax">
          <th mat-header-cell *matHeaderCellDef>{{ t('to_tax') }}</th>
          <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatAmount(monthlyTaxesForTier.toTax) }}</td>
        </ng-container>

        <ng-container matColumnDef="taxes">
          <th mat-header-cell *matHeaderCellDef>{{ t('taxes') }}</th>
          <td mat-cell *matCellDef="let monthlyTaxesForTier">{{ formatAmount(monthlyTaxesForTier.taxes) }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['taxBracket', 'toTax', 'taxes']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['taxBracket', 'toTax', 'taxes'];"></tr>
      </table>
    </mat-list-item>
  </mat-list>
</mat-list-item>
