<h1>Salary Simulator</h1>

<form class="form">
    <div class="form-group">
        <label>Statut</label>
        <div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="status" value="worker"> Ouvrier
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="status" value="employee"> Employé
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Régime de travail</label>
        <div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="workRegime" value="full"> Temps plein
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="workRegime" value="partial"> Temps partiel
                </label>
            </div>
            <div class="form-inline form-subitem" ng-show="workRegime == 'partial'">
                <div class="form-group">
                    <input type="number" class="form-control" ng-model="partialHours"> heures prestées par rapport à <input type="number" class="form-control" ng-model="partialTotalHours"> heures/temps plein
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Situation familiale</label>
        <div class="radio">
            <label>
                <input type="radio" ng-model="familySituation" value="isolated"> Isolé
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="familySituation" value="married_or_cohabitant_1_salary"> Marié ou avec contrat de cohabitation légale (1 revenu)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="familySituation" value="married_or_cohabitant_2_salaries"> Marié ou avec contrat de cohabitation légale (2 revenus)
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Divers</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="disabled"> Je suis handicapé
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="dependentChildren"> Enfants à charge
            </label>
        </div>
        <div class="form-inline form-subitem" ng-show="dependentChildren">
            <input type="number" class="form-control" ng-model="numDependentChildren"> enfant(s) à charge dont <input type="number" class="form-control" ng-model="numDisabledDependentChildren"> handicapé(s)
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="groupInsurance"> Assurance groupe (cotisation personnelle)
            </label>
        </div>
        <div class="form-inline form-subitem" ng-show="groupInsurance">
            <div class="input-group">
                <input type="number" class="form-control" ng-model="groupInsurancePersonalCotisation">
                <div class="input-group-addon">€</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Revenu brut mensuel</label>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="grossSalary">
            <div class="input-group-addon">€</div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="submitForm()" ng-disabled="!isFormValid()">Calculer</button>
    <div ng-show="result">
        <h2>Salaire net</h2>

        <dl>
            <dt>Salaire brut</dt>
            <dd>{{result['grossSalary'] | number : 2}}&nbsp;€</dd>
            <dt>Cotisations sociales personnelles (O.N.S.S.)</dt>
            <dd>{{result['socialCotisations'] | number : 2}}&nbsp;€</dd>
            <dt>Bonus à l'emploi</dt>
            <dd>{{result['employmentBonus'] | number : 2}}&nbsp;€</dd>
            <dt>Revenu brut imposable</dt>
            <dd>{{result['taxableIncome'] | number : 2}}&nbsp;€</dd>
            <dt>Précompte professionnel</dt>
            <dd>{{result['monthlyTaxes'] | number : 2}}&nbsp;€</dd>
            <dt>Réductions de précompte professionel pour les bas salaires</dt>
            <dd>{{result['monthlyTaxReductionsForLowSalaries'] | number : 2}}&nbsp;€</dd>
            <dt>Cotisation spéciale de sécurité sociale</dt>
            <dd>{{result['specialSocialCotisations'] | number : 2}}&nbsp;€</dd>
            <dt>Salaire net</dt>
            <dd>{{result['netSalary'] | number : 2}}&nbsp;€</dd>
        </dl>

        {{result['grossSalary'] | number : 2}}&nbsp;€
        -
        {{result['socialCotisations'] | number : 2}}&nbsp;€
        +
        {{result['employmentBonus'] | number : 2}}&nbsp;€
        =
        <i>{{result['taxableIncome'] | number : 2}}&nbsp;€</i><br>
        <i>{{result['taxableIncome'] | number : 2}}&nbsp;€</i>
        -
        {{result['monthlyTaxes'] | number : 2}}&nbsp;€
        +
        {{result['monthlyTaxReductionsForLowSalaries'] | number : 2}}&nbsp;€
        -
        {{result['groupInsurancePersonalCotisation'] | number : 2}}&nbsp;€
        -
        {{result['specialSocialCotisations'] | number : 2}}&nbsp;€
        =
        <b>{{result['netSalary'] | number : 2}}&nbsp;€</b>

        <h2>Simulation</h2>

        <form name="range-options" ng-submit="setRangeOptions(rangeMin, rangeMax, rangeStep)" novalidate>
            <div class="form-inline pull-right">
                <label>Min.</label>
                <input type="number" class="form-control" placeholder="Min" name="min" ng-model="rangeMin">
                <label>Max.</label>
                <input type="number" class="form-control" placeholder="Max" name="max" ng-model="rangeMax">
                <label>Pas</label>
                <input type="number" class="form-control" placeholder="Step" name="step" ng-model="rangeStep">
                <input type="submit" id="submit" class="btn btn-primary" value="Appliquer" ng-click="setRangeOptions(rangeMin, rangeMax, rangeStep)">
            </div>
        </form>
        <input type="checkbox" ng-model="simulateNoEmploymentBonus" ng-change="computeSalarySimulations()"> Simuler l'absence de bonus à l'emploi<br>
        <input type="checkbox" ng-model="simulateRealImposition" ng-change="computeSalarySimulations()"> Simuler la <i>véritable</i> non-imposition des premiers {{6030 | number}} euros

        <nvd3 options="chartOptions" data="salaryData" api="api"></nvd3>
        <nvd3 options="chartOptions" data="salaryRelativeData" api="api2"></nvd3>
    </div>
</form>
